
/* SCSS RGB -- orig */
// $rich-black-fogra-29: rgba(1, 22, 39, 1);
// $baby-powder: rgba(253, 255, 252, 1);
// $tiffany-blue: rgba(46, 196, 182, 1);
// $rose-madder: rgba(231, 29, 54, 1);
// $orange-peel: rgba(255, 159, 28, 1);

$rich-black-fogra-29: rgba(1, 22, 39, 1);
$baby-powder: rgba(253, 255, 252, 1);
$tertiary-accent: rgba(46, 196, 182, 1);
$primary-accent: rgba(231, 29, 54, 1);
$secondary-accent: rgba(255, 159, 28, 1);

$lining: rgb(173, 171, 171);

$very-light-gray: rgb(224, 223, 223);

$very-very-light-gray: rgb(243, 242, 242);

$title-font: 'Archivo Black', sans-serif;
$text-font: 'Roboto', sans-serif;